@font-face {
    font-family: 'Satisfy';
    src: url('Extra/Satisfy-Regular.ttf');
}












.noMasOMenosInfo{
    height:31px;
    display:inline-block;
}

.menuItem {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.menu .menuItem {
    display: inline;
    padding-left: 10px;
    margin-right: 25px;
}

.menu {
    margin-top: 10px;
    margin-bottom: 5px;
}

.menuItemSecundarioOn {
    background-color: rgba(0, 88, 125, 1);
}

.menuItemSecundarioOff {
    background-color: rgba(0, 88, 125, 0.36);
}

.menuItemPrincipalOn {
    background-color: rgba(125, 0, 113, 1);
}

.menuItemPrincipalOff {
    background-color: rgba(126, 89, 123, 0.62);
}

.colorPrincipal {
    color: #5E1CE9;
}

.colorSecundario {
    color: #0AAC1A;
}

h2 {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: justify;
    font-size: 15px;
}

.item {
    position: relative;
    z-index: 1;
    margin-left: 25px;
}



.row iframe {
    height: 300px;
    width: 100%;
}


#contacto img {
    height: 32px;
    padding-right: 16px;
}

#pagos img {
    height: 32px;
    padding-right: 16px;
}





.fila {
    margin-bottom: 10px;
}

/*Presentacion*/
#presentacion {
    height: 300px;
}

#tituloWeb {
    /* Adelaida */
    background: linear-gradient(180deg, #FFFFFF 47.4%, rgba(255, 255, 255, 0) 100%);
    text-align: center;
    width: 100%;
    height: 64px;
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    margin-left: -1px;
    margin-top: -10px;
}




#imgSimbolo {
    height: 45px;
    width: auto;
    position: absolute;
    right: 73px;
    top: 65px;
}


.parentItem {
    margin-bottom: 17px;
}

.parent {
    margin-top: 17px;
}

.fecha {
    position: relative;
    float: left;
}

#sobreAdelaida p {
    margin-top: 15px;
}

#fraseInspiradora p {
    margin-top: 15px;
}

.texto {
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 5px;
    line-height: 17px;
    max-width: 300px;
}

    .texto p {
        text-align: left;
    }

#presentacion .row {
    z-index: 1;
    position: relative;
}


.fondo {
    object-fit: cover;
    opacity: 0.25;
    height: 100%;
    z-index: 0;
    position: absolute;
    /*  border-radius: 43px; */
}

#presentacion .fondo {
    top: 5px;
    border-radius: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p, label, h2, span, b {
    font-family: droid-sans, sans-serif;
}

p {
    text-align: justify-all;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 45px;
    font-weight: 400;
}

.content .row {
    margin-top: 15px;
    width: 100%;
    margin-left: 1px;
}

#presentacionAdelaida .row {
    margin-top: 0px;
}

#updateBanner {
    margin-top: 0px;
}

#imgMaestroReiki {
    height: 150px;
    object-fit: contain;
}

.duracion {
    position: relative;
    float: right;
}

.fechaYPlazas {
    position: relative;
    left: 15px;
    float: left;
    height: 100px;
}

.sinFecha {
    height: 15px;
}

.curso .titulo {
    top: 25%;
}

.curso .subtitulo {
    top: 30%;
}

.titulo {
    margin-top: 10px;
    position: relative;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    height:150px;

}
.tituloYSubtitulo{
    height:330px;
}
.subtitulo {
    position: relative;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
    width: 100%;
 
}

.modalidad {
    float: right;
}

.modalidadItem {
    margin-left: 10px;
}

.modalidad img {
    height: 15px;
}

.plazas label {
    position: relative;
    display: flex;
    font-size: 15px;
    line-height: 18px;
}

.textoSinDestacar {
    color: rgba(92, 92, 92, 1);
}

.descanso {
    font-size: 10px;
    line-height: 5px;
}

.segundo {
    display: block;
    margin-top: -8px;
}

.segundo2 {
    display: block;
    margin-top: -20px;
}

.precio {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

#links a {
    font-size: 25px;
    line-height: 29px;
    margin-right: 10px;
    display: block;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

#links {
    margin: 15px 0px;
}

.introduccionReiki img {
    opacity: 0.35;
    height: 250px;
    object-fit: contain;
}

#origenReiki p {
    margin-left: -15px;
}

#origenReiki .masOMenosInfo {
    margin-left: -15px;
}

.plazas {
    height: 24px;
}

.textFecha {
    width: 50px;
}

#contacto label {
    vertical-align: text-top;
}


.btn-clipboard {
    display: block;
    padding: .25rem .5rem;
    font-size: .65em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem;
}



#sobreAdelaida {
    top: 30px;
    margin-left: 40px;
    margin-right: auto;
    height: 200px;
}

#fraseInspiradora {
    display: block;
    margin-left: auto;
    margin-right: 71px;
    top: 50px;
    height: 150px;
}

#imgFederacion {
    border-radius: 50px;
}

@media screen and (min-width:411px) {

    #imgFederacion {
        height: 100px;
        position: absolute;
        right: -7%;
        top: -5px;
    }
}

@media screen and (max-width:410px) {

    #imgFederacion {
        height: 100px;
        position: absolute;
        right: -10%;
        top: -5px;
    }
}

@media screen and (max-width:351px) {

    #imgFederacion {
        border-radius: 35px;
        height: 70px;
        position: absolute;
        right: -10%;
        top: -5px;
    }
}

@media screen and (max-width:344px) {
    .modalidadItem {
        margin-left: 1px;
    }
}

@media screen and (max-width:270px) {


    #fraseInspiradora {
        display: block;
        top: 50px;
        margin-left: -30px;
        margin-right: -3px;
        width: 114px;
        height: 179px;
    }

    #sobreAdelaida {
        top: 30px;
        margin-left: 5px;
        margin-right: auto;
        height: 200px;
        width: 134px;
    }
}


@media screen and (min-width:341px) {
    #sobreAdelaida {
        top: 30px;
        margin-left: 22px;
        margin-right: auto;
        height: 200px;
        width: 134px;
    }

    #fraseInspiradora {
        display: block;
        margin-left: auto;
        margin-right: 57px;
        top: 50px;
        height: 150px;
    }
}

@media screen and (max-width:340px) {

    .col-3 {
        width: 25%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-12 {
        width: 100%;
    }

    [class*="offset-"] {
        width: 0px;
    }

    h2 {
        font-size: 30px;
    }



    #sobreAdelaida {
        top: 30px;
        margin-left: 22px;
        margin-right: auto;
        height: 200px;
        width: 134px;
    }

    #fraseInspiradora {
        display: block;
        top: 50px;
        margin-left: auto;
        margin-right: 30px;
        width: 114px;
        height: 179px;
    }

    .menu .menuItem {
        display: inline;
        padding-left: 10px;
        margin-right: 7px;
    }
}

@media screen and (max-width:294px) {


    #sobreAdelaida {
        top: 30px;
        margin-left: 8px;
        margin-right: 27px;
        height: 200px;
        width: 134px;
    }

    #fraseInspiradora {
        margin-left: -24px;
        margin-right: 0px;
    }
}
